<%= form_for([@casefile.courtstation,@movement.casefile,@movement]) do |f| %>
  <% if @movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% @movement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Date Out' %><br />
    <%= f.date_select :date , :order => [:day, :month, :year]%>
  </div>
  <div class="field">
    <%= f.label 'Category' %><br />
    <%= f.select :category,['Approvals','Signing of Grants','Gazettement','Certifications'],:include_blank => true%>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from , :Placeholder => "Type current location of the file"%>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to , :Placeholder => "Where the File is Taken To?"%>
  </div>
  <div class="field">
    <%= f.label :officer %><br />
    <%= f.text_field :officer , :Placeholder => "The Name of The Officer Taking Action"%>
  </div>
  <div class="field">
    <%= f.label :takenby %><br />
    <%= f.text_field :takenby, :Placeholder => "The Name of the Staff taking the file" %>
  </div>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_field :reason , :Placeholder => "Reasons why the file being taken", :rows => "10"%>
  </div>
  <div class="field">
    <%= f.label :results %><br />
    <%= f.text_field :results , :Placeholder => "What were the Results?" %>
  </div>
  <div class="field">
    <%= f.label :dateofresult %><br />
    <%= f.date_select :dateofresult,:start_year=> 2010,:end_year=> 2015,:include_blank => true , :order => [:day, :month, :year]%>
  </div>
  <div class="field">
    <%= f.label 'Rejection Reasons' %><br />
    <%= f.text_area :result_reason,:size => "48x6",:Placeholder => "Reasons Why action was not Successful"%>
  </div>
  <div class="field">
    <%= f.hidden_field :recordupdatedby, :value =>current_user.username,:readonly => true%>
  </div>
  <div class="field">
    <%= f.label :remarks %><br />
    <%= f.text_area :remarks, :Placeholder => "Type any other relevant information about the file movemement",:size => "24x3"%>
  </div>
  <div class="field">
    <%= f.hidden_field :station, :value =>@courtstation.name,:readonly => true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
