<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @courtstation.name %>
</p>

<p>
  <b>Type of court:</b>
  <%= @courtstation.typeofcourt %>
</p>


<%= link_to 'Edit', edit_courtstation_path(@courtstation) %> 
<%= link_to 'Back', courtstations_path %>













