
	<table id= "batches" class = "display" >
	<thead>
  	<tr>
   	<th>Batch Name</th>   
	<th>Category</th>
	<th>Date Out</th>
        <th>From</th>
	<th>To</th>>
    	<th>Show</th>
 	<th>Edit</th>
  	</tr>
	</thead>
	<tbody>
	<% @batches.each do |batch| %>
  	<tr>
  	<td><%= batch.batch_name %></td>
    	<td><%= batch.category %></td>
    	<td><%= batch.date_out%></td>
        <td><%= batch.from %></td>
    	<td><%= batch.destination %></td>
        
 
    	<td><%= link_to 'Show', [batch.courtstation, batch] %></td>
    	<td><%= link_to 'Edit', edit_courtstation_batch_path(batch.courtstation, batch) %></td>

  </tr>
<% end %>
</table>
</tbody>
</table>
<br />
<div id = "dashboardicons" >
<%= link_to image_tag('/assets/add.png') + "New Batch", new_courtstation_batch_path(params[:courtstation_id]) %>
<%= link_to image_tag('/assets/home.png') + "Home", courtstation_casefiles_path(params[:courtstation_id]) %>
</div>
